<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
<form method="post">
    <input type="hidden" placeholder="ID" name="blogid" value=" @ViewBag.deger" required/>
    <input type="text" placeholder="Kullanıcı Adı" name="kullaniciadi" required />
    <input type="text" placeholder="Mail Adresi" name="mail" required />
    <input type="text" textarea placeholder="Yorum" name="yorum" required />
    <input type="submit" value="Gönder" />
</form>
</div>