@using traveltripproje.Models.Siniflar
@model List<hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_testlayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @foreach (var x in Model)
            {
                <img src="@x.fotourl "alt="" />
                <p>@x.aciklama</p>
            }
        </div>
    </div>
</div>

